/*Página desenvolvida com a aluna*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho {
    background-color: #c0a7a7;
    color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-link{
    width: 10%;
}
.cabecalho-imagem{
    width: 100%;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 30px;
}
.soja-colheita{
    width: 30%;
}
.parana{
    background-image: linear-gradient(#ebd9a1,#F3F0CF);
    color: rgb(110, 87, 87);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.parana-div-conteudo{
    width: 35%;
}
.parana-titulo{
   padding: 24px 0; 
}
.produtos-imagem{
    height: 80%;
    border-radius: 30px;
}
.produtos-icone{
    width: 24px ;
}
.produtos-div{
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}
.produtos-titulo{
    text-align: center;
    padding: 50px 0;
}
.produtos-todos{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
}
.rodape{
    background-color: rgb(0, 255, 234);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.rodape-imagem{
    height: 150px;
    padding: 12px 0;
    border-radius: 35px;
}
.rodape-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 15px;
}
.texto-rodape{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: large;
    font-weight: 600;
}